@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  background-color: #c5aeff;
  color: #1a1a1a;
  font-weight: bolder;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #1A1A40;
}
li button {
  font-size: 0.8rem;
  background-color: #1A1A40;
  border-color: #fff;
  
}
.header {
  font-size: 1.5rem;
  padding: 5%;
}
.text-new {
  padding-right: 5%;
}
.todoWrapper {
  background: #1A1A40;
  min-width: 600px;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.todoForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  color: #fff;
  padding: 1rem 1rem;
  width: 300px;
  height: 50px;
}

.todo-input::placeholder {
  color: #ffffff4d;
}
.todo-btn {
  background: #8758ff;
  color: #fff;
  cursor: pointer;
  padding: 1rem 1rem;
}
.todoForm button {
  border-radius: 0px;
  height: 50px;
}


.completed {
  color: #c5aeff;
  text-decoration: line-through;
}